/* CSS HEX */
:root {
	--primary: #264653;
	--primary-text: #E9C46A;
	--compliment: #E76F51;
	--compliment-other: #ffffff;
	--brick-red: #c83e4dff;
	--secondary: #2A9D8F;
	--secondary-text: #F4A261;
	--text: black;
}

/* global.css */
* {
	box-sizing: border-box;
}
html {
	font-size: 1.25em;
}
body {
	font-family: "Work Sans", sans-serif;
	background: var(--compliment-other);
}
h2 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
p {
	font-weight: 300;
	margin-bottom: 1.5rem;
	line-height: 1.5;
	hyphens: auto;
}
a {
	color: var(--brick-red);
	text-decoration: none;
}

.wrap {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 1rem;
}
header {
	background: var(--primary);
	color: var(--primary-text);
	padding: 1rem 0;
	margin-bottom: 2rem;
}
.header--flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header--logo a {
	font-size: 1.25rem;
	color: var(--primary-text);
}
header li {
	font-size: 0.8rem;
}
header nav a {
	color: var(--primary-text);
}
header nav a:hover {
	color: var(--secondary);
}
.header--signedin li {
	text-align: right;
	line-height: 1.25;
}
.header--signedout li {
	display: inline-block;
	margin-left: 0.5rem;
}
.course--module {
	background: var(--secondary);
	border-radius: 0.5rem;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	display: block;
}
.course--label {
	color: var(--compliment-other);
	font-size: 0.9rem;
	font-weight: 400;
	margin-bottom: 0.25rem;
}
.course--title {
	color: var(--compliment-other);
	font-weight: 700;
	font-size: 1.25rem;
}
.course--add--module {
	background: var(--secondary);
	color: var(--compliment-other);
	font-weight: 300;
	font-size: 1.25rem;
}
.course--add--title .add {
	width: 20px;
	height: auto;
	margin-right: 5px;
	fill: var(--compliment-other);
}
.course--detail--title {
	padding-bottom: 0.25rem;
	border-bottom: 1px solid var(--text);
	margin: 3rem 0 0.5rem;
	font-size: 0.9rem;
	color: var(--text);
	text-transform: uppercase;
	letter-spacing: 2px;
}
.course--name {
	font-size: 2rem;
	margin-bottom: 0.5rem;
	font-weight: 700;
	color: var(--text);
}
.course--detail--list {
	font-weight: 300;
	margin: 0 0 1.5rem 1rem;
	line-height: 1.5;
}
.actions--bar {
	background: none;
	padding: 1rem 0;
	margin: -2rem 0 2rem;
}
.validation--errors {
	padding: 1rem;
	border-radius: 0.5rem;
	margin-bottom: 2.5rem;
}
.validation--errors h3 {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}
.validation--errors ul {
	font-weight: 300;
	margin-left: 1rem;
	line-height: 1.25;
}
.validation--errors li {
	margin-bottom: 0.5rem;
}
.validation--errors li:last-child {
	margin-bottom: 0;
}

.form--centered {
	max-width: 510px;
	margin: 0 auto;
	padding: 0 1rem;
}
form {
	margin-bottom: 2.5rem;
}
label {
	display: block;
	font-weight: 300;
	margin-bottom: 0.25rem;
}
input,
textarea {
	display: block;
	width: 100%;
	color: var(--text);
	border-radius: 0.5rem;
	border: 1px solid var(--primary);
	padding: 0.5rem;
	margin-bottom: 1rem;
	font-family: "Work Sans", sans-serif;
	font-size: 0.8rem;
}
textarea {
	min-height: 300px;
}
.button {
	background: var(--secondary);
	color: var(--compliment-other);
	font-size: 1rem;
	padding: 0.75rem 1.5rem;
	border: 0;
	margin: 0 0 0.5rem 0;
	display: block;
	width: 210px;
	text-align: center;
	border-radius: 0.5rem;
	font-weight: bold;
	transition: background 0.4s, color 0.4s;
}
.button:last-child {
	margin-bottom: 0;
}
a:not(.header--logo a, .button):hover {
	color: var(--compliment-other);
}
a.button:hover {
	color: var(--compliment-other);
}
.button:not(.button-secondary):hover {
	box-shadow: 0 0 0 2px var(--primary) inset;
	cursor: pointer;
}
.button-secondary {
	color: var(--compliment-other);
	background: var(--secondary);
	transition: box-shadow 0.4s, color 0.4s, background .4s;
}
.button-secondary:hover {
	box-shadow: 0 0 0 2px var(--primary) inset;
	color: var(--compliment-other) !important;
	cursor: pointer;
}
input:focus,
button:focus,
.button:focus,
textarea:focus {
	border: none;
	border-radius: 0;
	outline: 2px solid var(--primary);
}

@media screen and (min-width: 600px) {
	.header--signedin li {
		display: inline-block;
		margin-left: 0.5rem;
		line-height: 1;
	}
	.main--grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1.5rem;
		grid-auto-rows: 1fr;
	}
}
@media screen and (min-width: 800px) {
	.main--grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.main--flex {
		display: flex;
	}
	.main--flex div:first-child {
		flex-basis: 62%;
	}
	.main--flex div:last-child {
		margin-left: 8%;
		flex-basis: 30%;
	}
	.course--detail--title {
		margin: 1.5rem 0 0.5rem;
	}
	.button {
		margin: 0 0.5rem 0 0;
		display: inline-block;
	}
}
